@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.grilla{
  display: grid;
  background-image: linear-gradient(to bottom, black, rgb(39, 38, 39));
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "header header header header"
  "section1 section1 section2 section2"
  "section1 section1 section2 section2"
  "footer footer footer footer";
  width: 99%;
  margin: 5px auto;
}
  
  .header { 
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: aliceblue;
    background-image: url(https://static.roland.com/assets/promos/jpg/cat_marquee_a-88mk2.jpg); 
    }
  .logo {
    grid-area: logo;
    flex-direction: column;
    justify-content: center;
    margin-right: 55%
    ;
  }

  .imagenLogo {
    margin-left: 45%;
  }

  .logoTitulo {
    margin-left: 75%;
  }  

  .lista{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 120%;
  }

  .lista li{
    display: flex; 
    flex-direction: row;
    justify-content: space-between ;
    margin-right: 10px;
    padding: 5px;
    transition: all 0.3s;
  }

  .lista li:hover{
    transform: scale(1.5);
  }

  a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

  
  .section1 { 
    grid-area: section1; 
    width: 100%;
    .contenedorImagenIngresos{
      margin-left: 15px;
    }
    .contenedorImgServicios{
      margin-left: 30px;
    }
    .mapa{
      margin-left: 30px;
    }
    .card{
      color: white;
      background-color: black;
    }
  
  }
  
  .section2 { 
    grid-area: section2;
    color: aliceblue; 
    width: 100%;
    display: flex;
    flex-direction: column;
    .tituloServicios{
      margin-left: 40%;
    }
    .parrafoServicios{
      margin-left: 40%;
    }

    .contenedorSection2{
      margin-left: 20px;
      align-items: center;
    }
    .container{
      color: black;
    }

    .card{
      color: white;
      background-color: black;
    }

    .formulario{
      margin-right: 20%;
      margin-top: 10%;
    } 
    .formularioControl{
      width: 100%;
    }
    .formularioControl2{
      resize: none;
      width: 100%;
    }
  }

  
  .footer { 
    grid-area: footer;
    width: 100%; 
    text-align: center;
    padding: 2px;
  }

  footer i{
    color: aliceblue;
    font-size: 60px;
    padding: 10%;
  }

  
  @media (max-width: 768px) {
    .grilla{
        grid-template-areas:
        "header header header header"
        "section2 section2 section2 section2"
        "section1 section1 section1 section1"
        "footer footer footer footer";
    }
    .logo{
        margin-right: 68%;
    }
    .lista{
        flex-direction: column;
    }
    
  }

  @media (max-width: 425px) {
    
    .imagenIngresos{
      width: 95%;
    }

    .imagenServicios{
      width: 100%;
    }

    .imagenLogo{
      margin-left: 85%;
      
    }
    .logoTitulo{
      margin-left: 100%;
    }
    .iframe{
      width: 100%;
    }

    .contForm{
      margin-left: 10%;
    }

  }